.App {
  font-family: sans-serif;
  text-align: center;
}

.Form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 15rem;
  margin: 4px;
}

.inputContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 8px;
}
